/* Start:: Glonal Style */

.global_background {
  background-color: rgba(19, 123, 151, 1);
  opacity: 0.03;
  left: 0;
  border-radius: 0 0 1000px 0;
  height: 337px;
  width: 500px;
  position: absolute;
  z-index: -99999;
}

select {
  background-color: transparent !important;
}
* {
  margin: 0;
  padding: 0;
  transition: 0.3s all ease-in-out;
  outline: 0;
}
*:focus {
  outline: 0;
}
body {
  font-family: "Almarai";
  font-size: 21.64px;
  color: #000 !important;
  font-weight: 400;
  overflow-x: hidden;
  position: relative !important;
  background-image: url("../images/Rectangle12.png");
  background-repeat: no-repeat;
}

@media (max-width: 997px) {
  body {
    background-image: none !important;
  }
  .threeDivs {
    background-image: none !important;
  }
}
.threeDivs {
  background-image: url("../images/Rectangle13.png");
  background-repeat: no-repeat;
  height: 100%;
  background-size: inherit;

  background-position: right;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none !important;
}
a {
  text-decoration: none !important;
}
.navbar .container {
  max-width: 1150px !important;
}
.container {
  max-width: 1250px;
}
.main_text {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  line-height: 44.64px;
}
.second_head {
  font-size: 19px;
}

.rotate {
  transform: rotate(180deg);
}

.hero,
.about,
.projects,
.customers,
.contact {
  margin-bottom: 150px !important;
  height: 100%;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .hero,
  .about,
  .projects,
  .services,
  .customers,
  .contact {
    padding: 0 !important;
  }
}
@media (max-width: 550px) {
  .main_text {
    font-size: 30px;
  }
  .customers .main_text {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 450px) {
  .main_text {
    font-size: 27px;
  }
}
@media (max-width: 400px) {
  .main_text {
    font-size: 25px;
  }
}
.global_btn {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: #5fc6e2;
  border-radius: 50px 0px;
  width: 173.5px;
  height: 50px;
  display: block !important;
  border-color: transparent;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}

/* End:: Global Style */

/* Start Navbar */
.navbar {
  margin-bottom: 55px;
}
#navbarSupportedContent {
  justify-content: end !important;
}

.bg-light {
  background: transparent !important;
  padding: 23px 0 !important;
}

.navbar a {
  transition: all 0.3s linear;
  cursor: pointer;
  color: #000 !important;
  font-size: 19px !important;
  text-decoration: none;
}
.navbar a:hover {
  color: rgba(95, 198, 226, 1);
}

.navbar .active a {
  color: rgba(95, 198, 226, 1) !important;
}

.navbar li {
  font-size: 1.3rem;
  padding: 15px 15px 15px 30px;
  font-size: 15px;

  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.colored_line {
  background: rgba(95, 198, 226, 1);
  border: 1px solid rgba(95, 198, 226, 1);
  height: 32px;
  width: 3px;
}
.colored_circle {
  background: rgba(95, 198, 226, 1);
  border: 2px solid rgba(95, 198, 226, 1);
  height: 7px;
  width: 7px;

  border-radius: 50% 50%;
}
@media (max-width: 991px) {
  .navbar .line {
    display: none !important;
  }
}
/* End:: Navbar */

/* Start:: Services section */
.services {
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.services .v-container {
  padding-right: 0;
  padding-left: 0;
}

.service {
  border: 1px solid rgba(219, 219, 219, 1);
  border-top-left-radius: 83px;
  margin: auto;
  text-align: center;
  padding: 32px 15px;

  margin-bottom: 37px;
  transition: all ease-in-out 0.3s;
  width: 172px;
  height: 194px !important;
}
.service .image {
  width: 65px;
  height: 65px;
  margin: auto;
  margin-bottom: 15px;
}
.service .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service h5 {
  font-size: 15.6px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
  transition: all ease-in-out 0.3s;
}
.service:hover {
  border-color: rgba(95, 198, 226, 1);
  transition: all ease-in-out 0.3s;
}
.service:hover h5 {
  color: rgba(95, 198, 226, 1);
  transition: all ease-in-out 0.3s;
}

.services .line {
  height: 3px;
  border-bottom: 1px solid rgba(219, 219, 219, 1);
  width: 13%;
}
/* End:: Services Section */

/* Start:: Contact Section */
.contact .container {
  direction: inherit;
}
.contact label {
  margin: 10px 0;

  font-size: 21.64px;
  opacity: 1 !important;
  text-align: start !important;
  display: block !important;
  line-height: 33.81px;
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  margin-bottom: 16px;
}
input::placeholder {
  color: rgba(227, 227, 227, 1);
}
.contact input:focus-within,
.contact textarea:focus-within {
  border: 1px solid rgba(95, 198, 226, 1) !important;
  box-shadow: 0px 0px 36.788108825683594px 0px rgba(95, 198, 226, 0.1);
}
.contact input,
.contact textarea {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  height: 45px;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 18.93px !important;
  font-weight: 400;
  line-height: 33.81px;
}
.contact textarea {
  height: 150px;
}
.contact input,
.contact textarea:focus {
  border: 1px solid #e4e4e4;
  outline: 0;
}
.contact .inner_container {
  max-width: 800px;
  margin: auto;
}

.contact button {
  border-radius: 27px 0;
  outline: none;
  font-size: 22.9px;
  font-weight: 700;
  line-height: 25.56px;
}

@media (max-width: 650px) {
  input::placeholder {
    font-size: 18px !important;
  }
  label {
    margin-bottom: 16px !important;
    font-size: 18px !important;
  }
  input {
    height: 40px;
  }
}

/* End:: Contact Section */

/* start:: footer Section */
.footer {
  padding: 32px 12px 0;
  background: #137b97;
  color: #fff;
  font-weight: 400;
  font-size: 15px;

  margin-top: 70px;
}
.footer .row .col {
  margin-bottom: 25px;
}
.footer .first_section {
  display: flex;
  justify-content: start;
  align-items: start;
  justify-items: start;
  gap: 3px;
  flex-direction: column;
}
.footer .first_section p {
  width: 66%;
  font-size: 15px;
  line-height: 29px;
  font-weight: 400;
  text-align: justify;
  border: none;
}
.footer .first_section h4 {
  font-size: 37px;
}

.footer svg {
  fill: #fff;
  width: 14px;
}

.footer li {
  margin: 5px 0;
}
.footer li a {
  margin: 11px;
  font-size: 14px !important;
  color: #fff;
  text-decoration: none;

  margin-bottom: -3px;
  display: inline-block;
}

.footer p {
  text-align: center;
  padding: 25px 0;
  border-top: 1px solid #75dcf84d;
  margin: 0;
  margin-top: 13px;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}

.footer .second_head {
  font-weight: 700;
}
@media (max-width: 450px) {
  #copyRight {
    font-size: 14px;
  }
}

/* End :: footer Section */

/* Start:: Hero Section*/
.hero {
  margin: 0 0 60px;
}
.hero .main_head {
  font-size: 56.55px;

  line-height: 73px;
  font-weight: 700;
}
.hero p {
  font-size: 16px;
  line-height: 28px;
  color: rgba(86, 86, 86, 1);
  font-weight: 400;
  margin: 25px 0;
  width: 80%;
}
.hero .global_btn {
  margin-top: 20px;
}

.button {
  width: 170px;
  transition: 0.7s all ease-in-out;
  text-align: center;
  color: #000;

  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}

.button-2 {
  color: #fff;
  border: none;

  background-image: linear-gradient(30deg, #000 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: 0.7s all ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color: #fff;
  transition: 0.7s all ease-in-out;
}
.button-3 {
  color: #fff;
  border: none;
  background-image: linear-gradient(30deg, #5fc6e2 50%, transparent 30%);

  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: 0.7s all ease-in-out;
}
.button-3:hover {
  background-position: 100%;
  color: #fff;
  background-color: #000 !important;
  transition: 0.7s all ease-in-out;
}

.hero .image img {
  width: 100%;

  object-fit: cover;
}
.hero .image .inner_image {
  position: absolute;
  top: 36%;
  left: 31%;
  width: 392px;
  height: 210px;
  border-radius: 10px;
  background: #ffffff;
}
.hero .first_inner_image {
  animation: fade-in 5s;
  animation-iteration-count: infinite;
}
.hero .second_inner_image {
  animation: fade-out 5s;
  animation-iteration-count: infinite;
  /* animation-delay: 5s; */
}
.hero .hero_carve {
  animation: translateXHero 10s infinite linear;

  background: rgba(104, 191, 254, 1);
  border-radius: 0 0 160px 0;
  width: 95px;
  height: 95px;
  position: absolute;
  z-index: 22222;
  bottom: 0;

  right: 0;
}
@media (max-width: 991px) {
  .hero .container {
    padding: 0 30px !important;
  }
}
@media (max-width: 700px) {
  .hero .hero_carve {
    display: none !important;
  }
}
@media (max-width: 730px) {
  .hero .inner_image {
    width: 359px !important;
    height: 183px !important;
  }
}
@media (max-width: 675px) {
  .hero .inner_image {
    width: 336px !important;
    height: 171px !important;
  }
}
@media (max-width: 650px) {
  .hero .inner_image {
    width: 326px !important;
    height: 171px !important;
  }
}
@media (max-width: 630px) {
  .hero .inner_image {
    width: 300px !important;
    height: 156px !important;
  }
}
@media (max-width: 600px) {
  .hero .inner_image {
    width: 299px !important;
    height: 150px !important;
  }
}
@media (max-width: 575px) {
  .hero .inner_image {
    width: 292px !important;
    height: 139px !important;
  }
}
@media (max-width: 555px) {
  .hero .inner_image {
    width: 273px !important;
    height: 132px !important;
  }
}
@media (max-width: 545px) {
  .hero .inner_image {
    width: 270px !important;
    height: 130px !important;
  }
}
@media (max-width: 525px) {
  .hero .inner_image {
    width: 251px !important;
    height: 114px !important;
  }
}
@media (max-width: 485px) {
  .hero .inner_image {
    width: 238px !important;
    height: 110px !important;
  }
}
@media (max-width: 440px) {
  .hero .inner_image {
    width: 230px !important;
    height: 100px !important;
  }
}

@media (max-width: 425px) {
  .hero .inner_image {
    width: 201px !important;
    height: 97px !important;
  }
}
@media (max-width: 400px) {
  .hero .inner_image {
    width: 171px !important;
    height: 80px !important;
  }
}
@media (max-width: 360px) {
  .hero .inner_image {
    width: 155px !important;
    height: 66px !important;
  }
}
@media (max-width: 991px) {
  .hero .image {
    width: 100% !important;
    height: 100% !important;
    margin-top: 23px !important;
  }
  .col {
    flex: none !important;
  }
}
/* End:: Hero Section*/

/* Start:: About Section */

.about h3 {
  margin-bottom: 20px;
  font-size: 56.56px;
  margin-bottom: 33px;
}
.about .head2 {
  color: #5fc6e2;
}
.about ul {
  width: 71%;
}
.about ul li {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  line-height: 28px;
  text-align: start;
  color: rgba(86, 86, 86, 1);
}
.about ul li span {
  margin-top: -5px;
}
.about ul li svg {
  fill: rgba(86, 86, 86, 1);
  width: 8px;
}

@media (max-width: 991px) {
  .about .text {
    padding: 0 30px;
  }
  .about .global_btn {
    margin: auto !important;
    display: block !important;
    margin-top: 35px !important;
  }
}
@media (max-width: 700px) {
}

/* Start:: image */
.image {
  height: 100%;
}
.hidden_border {
  bottom: -10px;
  width: 92%;
  position: absolute;
  z-index: -1;
  border-radius: 0 0 0 435px;
  border: 1px solid #d9ccce;
  height: 81%;
}
.hidden_border_ar {
  left: 43px;
  bottom: -14px;
  width: 93%;
  position: absolute;
  z-index: -1;
  border-radius: 0 0 0 435px;
  border: 1px solid #d9ccce;
  height: 80%;
}
.big_rectangle {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 435px 0px;
  height: 350px;
  transform: rotate(-180deg);
  position: absolute;
}
.about .image_container {
  position: absolute;

  height: 100%;
}
.about .image_container img {
  border-radius: 0 0 0 435px;

  width: 100%;
  height: 100%;
}
.small_rectangle {
  border-radius: 0 0 160px 0;
  background: rgba(207, 210, 211, 1);
  width: 90px;
  height: 90px;
  position: absolute;
  top: -33px;
  right: 0;
  transform: rotate(270deg);
  animation: translateX 7s linear infinite;
}

.about .second_small_rectangle {
  border-radius: 0 0 160px 0;
  background: rgba(104, 191, 254, 1);
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: 4px;
  transform: rotate(87deg);
  animation: translateX 7s linear infinite;
  left: 19% !important;
}
@media (max-width: 1285px) {
  .image_container {
    width: 89%;
  }
}
@media (max-width: 400px) {
  #header .about ul {
    width: 100% !important;
  }
}

@media (max-width: 375px) {
  .about h3 {
    font-size: 22px !important;
    margin-bottom: 15px;
  }
  .about ul {
    width: 100%;
  }

  .hidden_border {
    bottom: -14px;
    width: 87%;
  }

  .about .small_rectangle {
    width: 50px;
    height: 50px;
  }

  .about .second_small_rectangle {
    width: 80px !important;
    height: 80px !important;
  }
}
@keyframes rotate-animation {
  0% {
    transform: rotate(87deg);
  }

  100% {
    transform: rotate(110deg);
  }
}
.small_in_en {
  right: -45px;
}
.second_small_in_en {
  left: 21%;
}

@media (max-width: 1195px) {
  .small_rectangle {
    right: 0px !important;
  }
}
@media (max-width: 1135px) {
  .small_rectangle {
    right: 30px !important;
  }
}
@media (max-width: 991px) {
  .second_small_in_en {
    left: 0 !important;
  }
}
@media (max-width: 988px) {
  .about .image_container {
    position: relative !important;
  }
  .image {
    margin-bottom: 40px !important;
  }
  .about .image_container img {
    border-radius: none;
    margin: auto !important;
    width: 84% !important;
    display: block !important;
  }
  .about .text {
    margin-top: 42px !important;
  }
  .hidden_border {
    width: 83%;
  }
  .small_rectangle {
    right: 100px !important;
  }
}
@media (max-width: 375px) {
  .about .image_container img {
    border-radius: none;

    width: 100% !important;
    height: 104%;
  }
  .small_rectangle {
    right: 36px !important;
    width: 50px;
    height: 50px;
  }
  .second_small_rectangle {
    width: 60px !important;
    height: 60px !important;
  }
}
/* End:: image */

/* End:: About Section */

/* Start:: Projects Section*/

.projects {
  position: relative;
  padding: 0;
  direction: ltr !important;
}
.projectsLine {
  position: absolute;
  z-index: -555555;
  border-bottom: 1px solid #dbdbdb;
  height: 100%;
  width: 100%;
  bottom: 40%;
}
.projects .global_btn {
  z-index: 5000000;
  position: absolute;
  left: 26%;
  bottom: -28px;
}
@media (max-width: 900px) {
  .projects .global_btn {
    left: 42%;
    bottom: -39px;
  }
}
@media (max-width: 675px) {
  .projects .global_btn {
    left: 30%;
    bottom: -39px;
  }
}

.projects .cards {
  border: 1px solid rgba(219, 219, 219, 1);
  height: 327px;
  border-radius: 0px 147px 0px 164px;
}

.projects .text_card,
.slider .text_card {
  background: rgba(95, 198, 226, 0.9);
  text-align: center;
  color: #fff;
  padding: 8px;
  margin-top: 40px;
  height: 327px;
  opacity: 0.8;
}
.projects .text_card div {
  border: 1px solid #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0;
}
.projects .text_card h6 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}
.projects .text_card p {
  font-size: 16px;
  font-weight: 400;
  width: 90%;
}
.projects .text_card button {
  background: rgba(19, 123, 151, 1);
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px 0px 50px 0px;

  bottom: -17px;
  right: 30%;
  z-index: 1000;
  position: absolute;
}

.changeTop {
  top: -20px !important;
  right: 0px !important;
}
.changeAnotherTop {
  left: 4px !important;
  top: -23px !important;
}

@media (max-width: 1250px) {
  .projects .cards .pro_div .image img {
    width: 80% !important;
  }
  .projects #firstChange {
    top: -6px !important;
    right: -62px !important;
  }
  .projects #secondChange {
    top: 28px !important;
    left: 16px !important;
  }
}
@media (max-width: 995px) {
  .fImageL {
    position: relative !important;
  }
}

@media (max-width: 1186px) {
  .projects #firstChange {
    top: -9px !important;
    right: -59px !important;
  }
  .projects #secondChange {
    top: 41px !important;
    left: 11px !important;
  }
}
@media (max-width: 1126px) {
  .projects #firstChange {
    top: -9px !important;
    right: -53px !important;
  }
  .projects #secondChange {
    top: 58px !important;
    left: 11px !important;
  }
}
@media (max-width: 1082px) {
  .projects #firstChange {
    top: -9px !important;
    right: -49px !important;
  }
  .projects #secondChange {
    top: 70px !important;
    left: 13px !important;
  }
}
@media (max-width: 1040px) {
  .projects #firstChange {
    top: 0px !important;
    right: 0px !important;
  }
  .projects #secondChange {
    top: 85px !important;
    left: 13px !important;
  }
}

@media (max-width: 1100px) {
  .projects button {
    right: 26% !important;
  }
}

@media (max-width: 988px) {
  .projects .cards {
    height: 100% !important;
  }

  .projects .cards .pro_div {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
}
@media (max-width: 991px) {
  .projects .cards {
    border: none !important;
  }
  .pro_div {
    margin: 35px 0 !important;
  }
  .projects .end_carve {
    /* height: 100px !important;
    width: 100px !important; */
  }
  .projects .cards #secondChange {
    position: relative !important;
    top: 74px !important;
    left: 5px !important;
  }
  .projects .cards .pro_div .image img {
    width: 100% !important;
  }

  .projects .start_carve {
    /* height: 100px !important;
    width: 100px !important; */
    right: -1px !important;
    top: 19px !important;
  }

  .projects button {
    right: 44% !important;
  }
}

.projects .fImage {
  animation: fade-in 4s;
  animation-iteration-count: infinite;
}
.projects .sImage {
  animation: fade-out 4s;
  animation-iteration-count: infinite;
  /* animation-delay: 5s; */
}
.projects .fImage_in_text {
  animation: fade-out 4s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}
.projects .sImage_in_text {
  animation: fade-in 4s;
  animation-iteration-count: infinite;
  /* animation-delay: 5s; */
}

.projects .fImageL {
  animation: fade-in 4s;
  animation-iteration-count: infinite;
  animation-delay: 10s;
}
.projects .sImageL {
  animation: fade-out 4s;
  animation-iteration-count: infinite;
  animation-delay: 10s;
  /* animation-delay: 5s; */
}

@media (max-width: 700px) {
  .projects .text_card button {
    right: 40% !important;
  }
}
@media (max-width: 530px) {
  .projects .text_card button {
    right: 36% !important;
  }
}
@media (max-width: 450px) {
  .projects .text_card button {
    right: 32% !important;
  }
}
@media (max-width: 390px) {
  .projects .text_card button {
    right: 30% !important;
  }
}
@media (max-width: 390px) {
  .projects .text_card button {
    right: 28% !important;
  }
}

/* End:: Projects Section*/

/* Start:: Customers*/

.customers .slider_container {
  display: flex;
  height: 400px;
  padding: 0 14px;
  width: 83%;
  scroll-behavior: smooth;
  margin: auto;
}

.customers .slider_container::-webkit-scrollbar {
  display: none;
}
.customers .col-lg-6 {
  margin: 13px 0;
  padding-left: 0 !important;
}
.customers .box {
  height: 300px;
  width: 100%;
  flex-shrink: 0;
  margin-right: 1px;
  display: flex;
  position: relative;
}
@media (max-width: 650px) {
  .customers .box {
    height: 100%;
  }
  .customers .prev,
  .customers .next {
    display: none !important;
  }

  .customers .slider_container {
    width: 100%;
    padding: 0;
  }
  .customers .customer_opinion p {
    font-size: 14px !important;
    margin: 4px 7px !important;

    line-height: 23px !important;
  }
  .customers .box {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
    margin: 11px 5px !important;
  }
  .customers .customer_image img {
    width: 130px !important;
    height: 130px !important;
  }
}
.carousel-inner {
  padding: 15px;
}
/* Next & previous buttons */
.customers .prev,
.customers .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 20px;
  color: green;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-top: 150px;
  border: 1px solid rgba(209, 209, 209, 1);
  width: 86px;
  height: 46px;
  padding: 9px 0;
  text-align: center;
}
.customers .prev {
  left: 0;
  border-bottom-right-radius: 38px;
  border-top-right-radius: 40px;
}
.customers .next {
  right: 0;
  border-bottom-left-radius: 38px;
  border-top-left-radius: 40px;
}

.customers .customer_info {
  border-radius: 20px 0;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.07);
  margin-top: 10px;
  padding: 22px;
  width: 48%;
  position: relative;
  background-image: url("../images/customerBack.png");
  background-size: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: bottom;
}
.customers .customer_info h3 {
  font-weight: 700;
  font-size: 40px;
  width: 60%;
  line-height: 50px;
  margin-bottom: 19px;
  text-align: start;
}
.customers .customer_info span {
  color: rgba(166, 166, 166, 1);
  font-size: 20px;
  font-weight: 400;
  text-align: start;
  line-height: 22.32px;
  margin-bottom: 3px;
}

.customers .customer_image {
  position: absolute;
  width: 149.36px;
  height: 162.84px;

  top: 25%;
}
.dir_left {
  left: 25%;
}
.dir_right {
  right: 25%;
}

.hide_icon {
  display: none;
}
.show_icon {
  display: inline-block;
}
.customers .customer_image img {
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.customers .customer_opinion {
  display: flex;
  align-items: center;
  width: 50%;
}
.customers .customer_opinion p {
  color: rgba(166, 166, 166, 1);
  margin: 0 4px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: start;
}
@media (max-width: 1400px) {
  .customers .customer_image {
    width: 130px !important;
    height: 148.84px !important;
    top: 25%;
  }
}
@media (max-width: 1290px) {
  .customers .slider_container {
    width: 95% !important;
  }
}
@media (max-width: 991px) {
  .carousel-inner {
    margin-left: 20px;
  }
  .customers .box {
    width: 95%;
    display: block !important;
  }
  .customers .customer_info {
    width: 100% !important;
    box-shadow: none !important;
  }
  .customers .customer_image {
    top: 9% !important;
  }
  .dir_left {
    left: 47% !important;
  }
  .dir_right {
    right: 50% !important;
  }
  .customers .customer_info h3 {
    font-size: 25px !important;
    width: 37% !important;
  }
  .customers .prev,
  .customers .next {
    width: 52px;
  }

  .empty {
    width: 0 !important;
  }
  .customers .customer_opinion {
    width: 100% !important;
  }
  .customers .customer_image img {
    width: 100px;
    height: 100px;
  }
}
/* End:: Customer*/

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 2.5;
  }
  50% {
    opacity: 5;
  }
  75% {
    opacity: 7.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 7.5;
  }
  50% {
    opacity: 5;
  }
  75% {
    opacity: 2.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeBackground {
  from {
    background-color: rgba(104, 191, 254, 1);
  }
  to {
    background-color: #fce97f;
  }
}

@keyframes translateX {
  0% {
    opacity: 100%;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes translateXHero {
  0% {
    opacity: 100%;
    transform: rotate(270deg);
  }
  100% {
    opacity: 100%;
  }
}

.top_ar {
  top: 35% !important;
}
.top_en {
  top: 33%;
}

/* Start:: project Slider */

.slider {
  margin-bottom: 30px;

  height: 392px;
  border: 1px solid rgba(219, 219, 219, 1);
  position: relative;
  border-radius: 0px 147px 0px 164px;
}

.owl-item.active ~ div:not(.center) img {
  border-radius: 0 160px 0 0 !important;
  left: 0px !important;
  padding: 0 2px;
  position: absolute !important;
}
.owl-item.active ~ div:not(.center) button {
  display: none !important;
}
.owl-stage .owl-item.active:not(.center) button {
  display: none !important;
}

.owl-stage .owl-item.active:not(.center) img {
  border-radius: 0 0 0 160px;
  position: absolute;

  left: 12px;
}

.slider .owl-item.active.center .slider-card {
  transform: scale(0.9);
  opacity: 1;
  width: 100%;
  height: 401px;
  padding: 10px;
  color: #fff;
  background: rgba(95, 198, 226, 0.9);
  opacity: 0.8;
  text-align: center;
  color: #fff;
  padding: 8px;
  margin-top: 80px;
  margin-left: 6px;
  border-radius: 0;
}
.slider .owl-item.active.center .slider-card img {
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 0;
}
.slider-card {
  height: 350px;
  width: 350px;
  background: transparent;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  transform: scale(1.15);
  opacity: 1;
  transition: all 0.3s;
}

.slider .first_slider_card img {
  width: 100%;
  height: auto;

  display: block;
}
.owl-nav,
.owl-dots {
  display: none;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #f44336 !important;
}
.slider .start_carve {
  background: rgba(19, 123, 151, 1);
  border-radius: 0px 0px 153px 0px;
  height: 159.89px;
  width: 159px;
  transform: rotate(270deg);
  right: 0px !important;
  top: -43px !important;
  position: absolute;
}
.slider .end_carve {
  border-radius: 0px 0px 160px 0px;
  background: rgba(104, 191, 254, 1);
  height: 150px;
  width: 150px;
  transform: rotate(91deg);
}
.owl-carousel {
  position: absolute;
  left: 16px;
  width: 96%;
  top: -44px;
}
.owl-carousel.owl-drag .owl-item {
  margin-right: 10px !important;
  /* width: 384.22px !important; */
}
.owl-carousel .owl-item img {
  height: 100%;
}
@media (max-width: 988px) {
  .start_carve {
    right: -1px !important;
    top: -1px !important;
  }
}

@media (max-width: 999px) {
  .owl-carousel {
    top: -87px;
  }
  .slider .owl-item.active.center .slider-card {
    opacity: 1;
    border-radius: 0 160px 0 160px;
  }
  .slider .owl-item.active.center .slider-card img {
    border-radius: 0 160px 0 160px;
  }
  .projects .global_btn {
    left: 45%;
    bottom: -24px;
  }
}

@media (max-width: 700px) {
  .slider {
    border-radius: 0;
  }
  .projects .end_carve,
  .projects .start_carve {
    display: none;
  }
  .slider .owl-item.active.center .slider-card {
    opacity: 0.8;
    border-radius: 0;
  }
  .slider .owl-item.active.center .slider-card img {
    border-radius: 0;
  }
  .projects .global_btn {
    left: 36%;
    bottom: -20px;
  }
}
@media (max-width: 540px) {
  .owl-carousel {
    top: -10px !important;
  }
  .projects .global_btn {
    z-index: 5000000;
    position: absolute;
    left: 25%;
    bottom: -15px;
  }
  .pro_div {
    margin: auto !important;
  }
  .slider-card {
    margin: auto;
  }
  .slider .owl-item.active.center .slider-card {
    margin-top: 0;
  }
  .slider {
    border-radius: 0;
  }
  .start_carve,
  .end_carve {
    display: none;
  }
}
@media (max-width: 450px) {
  .projects .global_btn {
    left: 30% !important;
    bottom: -11px !important;
  }
}

@media (max-width: 755px) {
  .owl-carousel.owl-drag .owl-item {
    margin-right: 4px !important;
  }
  .owl-item {
    /* width: 330px !important; */
  }
  .owl-item.active ~ div:not(.center) img {
    display: none;
  }
  .owl-stage .owl-item:not(.center) img {
    display: none !important;
  }
  .owl-stage .owl-item:not(.center) button {
    display: none !important;
  }
}

@media (max-width: 400px) {
  .projects .global_btn {
    left: 27% !important;
    bottom: -11px !important;
  }
}
@media (max-width: 350px) {
  .projects .global_btn {
    left: 20% !important;
    bottom: -11px !important;
  }
}

/* End:: Project Slider */

@media (max-width: 1000px) {
  .hero .main_head {
    font-size: 40px !important;
    line-height: 52px !important;
    font-weight: 700 !important;
  }
}
@media (max-width: 500px) {
  .hero .main_head {
    font-size: 30px !important;
    line-height: 45px !important;
    font-weight: 700 !important;
  }
}

@media (max-width: 1255px) {
  .hero .image .inner_image {
    top: 30%;
    left: 31%;
    width: 384px;
    height: 201px;
  }
}
@media (max-width: 1245px) {
  .hero .image .inner_image {
    top: 31%;
    left: 31%;
    width: 386px;
    height: 198px;
  }
}
@media (max-width: 1220px) {
  .hero .image .inner_image {
    top: 31%;
    left: 31%;
    width: 372px;
    height: 192px;
  }
}
@media (max-width: 1195px) {
  .hero .image .inner_image {
    top: 31%;
    left: 31%;
    width: 365px;
    height: 181px;
  }
}
@media (max-width: 1175px) {
  .hero .image .inner_image {
    top: 29%;
    left: 32%;
    width: 355px;
    height: 177px;
  }
}
@media (max-width: 1140px) {
  .hero .image .inner_image {
    width: 336px;
    height: 177px;
  }
}

@media (max-width: 1130px) {
  .hero .image .inner_image {
    top: 27%;
    left: 31%;
    width: 338px;
    height: 183px;
  }
}
@media (max-width: 1095px) {
  .hero .image .inner_image {
    top: 27%;
    left: 31%;
    width: 322px;
    height: 166px;
  }
}
@media (max-width: 1065px) {
  .hero .image .inner_image {
    top: 27%;
    left: 31%;
    width: 322px;
    height: 166px;
  }
}
@media (max-width: 1050px) {
  .hero .image .inner_image {
    top: 27%;
    left: 31%;
    width: 310px;
    height: 155px;
  }
}
@media (max-width: 1015px) {
  .hero .image .inner_image {
    top: 25%;
    left: 31%;
    width: 304px;
    height: 159px;
  }
}
@media (max-width: 997px) {
  .hero .row {
    flex-direction: column-reverse;
  }
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 304px;
    height: 159px;
  }
}
@media (max-width: 991px) {
  .hero .image .inner_image {
    top: 38%;
    left: 31%;
    width: 517px;
    height: 267px;
  }
}
@media (max-width: 965px) {
  .hero .image .inner_image {
    width: 504px;
    height: 255px;
  }
}
@media (max-width: 945px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 497px;
    height: 267px;
  }
}
@media (max-width: 935px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 486px;
    height: 252px;
  }
}
@media (max-width: 925px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 486px;
    height: 252px;
  }
}
@media (max-width: 910px) {
  .hero .image .inner_image {
    top: 37%;
    left: 31%;
    width: 485px;
    height: 246px;
  }
}
@media (max-width: 885px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 464px;
    height: 246px;
  }
}
@media (max-width: 875px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 463px;
    height: 240px;
  }
}
@media (max-width: 865px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 455px;
    height: 237px;
  }
}
@media (max-width: 850px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 445px;
    height: 230px;
  }
}
@media (max-width: 830px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 433px;
    height: 223px;
  }
}
@media (max-width: 820px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 427px;
    height: 227px;
  }
}
@media (max-width: 800px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 417px;
    height: 215px;
  }
}
@media (max-width: 790px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 394px;
    height: 204px;
  }
}
@media (max-width: 770px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 394px;
    height: 204px;
  }
}
@media (max-width: 755px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 390px;
    height: 205px;
  }
}
@media (max-width: 730px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 371px !important;
    height: 189px !important;
  }
}
@media (max-width: 700px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 354px !important;
    height: 183px !important;
  }
}
@media (max-width: 670px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 340px !important;
    height: 181px !important;
  }
}
@media (max-width: 660px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 327px !important;
    height: 177px !important;
  }
}
@media (max-width: 650px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 328px !important;
    height: 175px !important;
  }
}
@media (max-width: 645px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 321px !important;
    height: 168px !important;
  }
}
@media (max-width: 625px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 313px !important;
    height: 162px !important;
  }
}
@media (max-width: 600px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 302px !important;
    height: 156px !important;
  }
}
@media (max-width: 580px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 286px !important;
    height: 150px !important;
  }
}
@media (max-width: 560px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 272px !important;
    height: 150px !important;
  }
}
@media (max-width: 550px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 272px !important;
    height: 145px !important;
  }
}
@media (max-width: 540px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;

    width: 268px !important;
    height: 143px !important;
  }
}
@media (max-width: 530px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;

    width: 259px !important;
    height: 136px !important;
  }
}
@media (max-width: 510px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;

    width: 250px !important;
    height: 136px !important;
  }
}
@media (max-width: 500px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 242px !important;
    height: 130px !important;
  }
}
@media (max-width: 470px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 222px !important;
    height: 120px !important;
  }
}
@media (max-width: 450px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 207px !important;
    height: 112px !important;
  }
}
@media (max-width: 435px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 200px !important;
    height: 104px !important;
  }
}
@media (max-width: 420px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 195px !important;
    height: 109px !important;
  }
}
@media (max-width: 410px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 191px !important;
    height: 101px !important;
  }
}
@media (max-width: 400px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 182px !important;
    height: 100px !important;
  }
}
@media (max-width: 390px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 189px !important;
    height: 96px !important;
  }
}
@media (max-width: 380px) {
  .hero .image .inner_image {
    top: 36%;
    left: 32%;
    width: 183px !important;
    height: 96px !important;
  }
}
@media (max-width: 375px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 183px !important;
    height: 92px !important;
  }
}
@media (max-width: 370px) {
  .hero .image .inner_image {
    top: 37%;
    left: 32%;
    width: 174px !important;
    height: 87px !important;
  }
}
@media (max-width: 365px) {
  .hero .image .inner_image {
    top: 36%;
    left: 31%;
    width: 174px !important;
    height: 87px !important;
  }
}

@media (max-width: 350px) {
  .hero .image .inner_image {
    width: 157px !important;
    height: 85px !important;
    top: 36%;
    left: 34%;
  }
}
@media (max-width: 340px) {
  .hero .image .inner_image {
    width: 146px !important;
    height: 81px !important;
    top: 36%;
    left: 34%;
  }
}
@media (max-width: 330px) {
  .hero .image .inner_image {
    width: 151px !important;
    height: 77px !important;
    top: 36%;
    left: 33%;
  }
}
@media (max-width: 320px) {
  .hero .image .inner_image {
    width: 142px !important;
    height: 74px !important;
    top: 36%;
    left: 33%;
  }
}
@media (max-width: 315px) {
  .hero .image .inner_image {
    width: 135px !important;
    height: 74px !important;
    top: 36%;
    left: 33%;
  }
}
@media (max-width: 305px) {
  .hero .image .inner_image {
    width: 132px !important;
    height: 69px !important;
    top: 36%;
    left: 34%;
  }
}
@media (max-width: 300px) {
  .hero .image .inner_image {
    top: 37%;
    left: 33%;
    width: 133px !important;
    height: 68px !important;
  }
  .hero .main_head {
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
  }
}

@media (max-width: 295px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 131px !important;
    height: 68px !important;
  }
}
@media (max-width: 293px) {
  .hero .image .inner_image {
    top: 37%;
    left: 33%;
    width: 131px !important;
    height: 68px !important;
  }
}
@media (max-width: 290px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 125px !important;
    height: 66px !important;
  }
}
@media (max-width: 288px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 129px !important;
    height: 67px !important;
  }
}
@media (max-width: 283px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 125px !important;
    height: 67px !important;
  }
}
@media (max-width: 280px) {
  .hero .image .inner_image {
    top: 36%;
    left: 34%;
    width: 121px !important;
    height: 62px !important;
  }
}
@media (max-width: 270px) {
  .hero .image .inner_image {
    top: 36%;
    left: 34%;
    width: 112px !important;
    height: 59px !important;
  }
}
@media (max-width: 260px) {
  .hero .image .inner_image {
    top: 36%;
    left: 34%;
    width: 116px !important;
    height: 59px !important;
  }
}
@media (max-width: 250px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 102px !important;
    height: 53px !important;
  }
}
@media (max-width: 235px) {
  .hero .image .inner_image {
    top: 36%;
    left: 33%;
    width: 99px !important;
    height: 51px !important;
  }
}
@media (max-width: 230px) {
  .hero .image .inner_image {
    top: 37%;
    left: 34%;
    width: 93px !important;
    height: 47px !important;
  }
}
@media (max-width: 680px) {
  .about .image_container img {
    width: 93% !important;
  }

  .small_rectangle {
    right: 29px !important;
  }
}

@media (max-width: 580px) {
  .about .image_container img {
    width: 90% !important;
  }

  .small_rectangle {
    right: 29px !important;
  }
}
@media (max-width: 525px) {
  .about h3 {
    font-size: 33px;
  }
  .hidden_border {
    width: 89%;
  }
  .about .image_container img {
    width: 100% !important;
  }

  .small_rectangle {
    right: 29px !important;
  }
  .about .second_small_rectangle {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 988px) {
  .service h5 {
    font-size: 12px;
  }
}
.projectsBtn {
  color: #fff;
  border: none;
  background-image: linear-gradient(30deg, #137b97 50%, transparent 20%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: 0.7s all ease-in-out;
}

.projectsBtn:hover {
  background-position: 100%;
  color: #fff;
  background-color: #000 !important;
  transition: 0.7s all ease-in-out;
}

.switch_button {
  border: none;
  background: none;
  font-weight: 900 !important;
  font-size: 20px;
  outline: none;
}
.switch_button:focus {
  border: none;
  outline: none;
}

#language-select {
}
#language-select2 {
  /* display: none; */
}

@media (max-width: 767px) {
  .services .col-sm-6 {
    width: 50% !important;
  }

  .services .service {
    width: 100%;
    height: 100%;
  }

  .services .service .image {
    margin-bottom: 20px !important;
  }
  .services .service h5 {
    line-height: 14px;
  }
}
